<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    font-family: "SF Pro Display", "SF Pro Text",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #101010;
    height: 100px;
    color: #0f0f0f;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;}
header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(68, 68, 68, 0.129);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
    z-index: 999;}
header .container {
    max-width: 1500px;
    margin: auto;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.logo {
    font-size: 38px;
    font-style:italic;
    font-family: "broadway" ;
    font-weight: 500;
    color: #3376faad;}
nav ul {
    display: flex;
    list-style: none;
    gap: 28px;}
nav ul li a {
    text-decoration: none;
    color: #868686;
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.2s ease;}
nav ul li a:hover {
    color: #0e45fb;}
.btn-glass {
    padding: 10px 26px;
    border-radius: 30px;
    border: 0px solid rgba(179, 179, 179, 0.222);
    background: rgba(62, 62, 62, 0.285);
    backdrop-filter: blur(12px);
    font-family: "SF Pro Display", "SF Pro Text",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-weight: 600;
    color: #0943fe;
    transition: background 0.6s, color 0.6s;}
.btn-glass:hover {
    background: #003cff;
    color: white;}
.hero {
    padding: 160px 25px 100px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;}
.hero-text h1 {
    font-size: 3.4rem;
    font-weight: 700;
    color: #ffffff;}
.hero-text p {
    margin: 18px 0;
    color: #ffffff;
    font-size: 1.15rem;}
.hero-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;}
.btn-primary {
    padding: 12px 28px;
    border-radius: 30px;
    background: #8f8f8ff4;
    color: rgb(0, 0, 0);
    font-family: "SF Pro Display", "SF Pro Text",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.7s, opacity 1s ease;;}
.btn-primary:hover {
    opacity: 0.5;
    transform: translateY(-7px);}
.hero img {
    width: 785px;
    border-radius: 55px;
    box-shadow: 10px 10px 0px rgba(84, 251, 13, 0.797);}
.glass-section {
    margin-top: 40px;
    text-align: center;}
.section-title {
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;}
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    max-width: 1200px;
    color:#8e8e8e;
    margin: auto;
    padding: 0 25px;}
.card {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
    border-radius: 45px;
    padding: 28px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.08);
    border: 1px solid rgba(0,0,0,0.05);
    text-align: center;
    transition: transform 1s, box-shadow 0.3s;
    color: #ffffff;}
.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 40px rgba(255, 255, 255, 0.522);}
.card img {
    width: 62px;
    margin-bottom: 15px;}
.how-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
    color: #111;}
.analytics {
    margin: 60px auto;
    text-align: center;
    font-size: 25px;
    color: #ffffff;}
.analytics title {
    margin-top: 20px;
    margin-bottom: 50px;}
.analytics img {
    width: 1350px;
    max-width: 90%;
    border-radius: 28px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);}
.pricing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap:25px;
    max-width:1200px;
    color:#8e8e8e;
    margin:auto;
    padding:0 25px 100px;}
.price-card {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    border: 1px #ffffff;
    border-radius:45px;
    padding:25px;
    box-shadow:0 1.5px 10px rgba(216, 216, 216, 0.674);
    border:1px solid rgba(0,0,0,0.05);
    text-align:center;
    color: #ffffff;}
.price-card .amount {
    font-size:2.2rem;
    margin:15px 0;
    font-weight:700;
    color:#003cff;}
@media (max-width:900px) {
    .hero {
        flex-direction: column;
        text-align: center;}}
</style>
